/* font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/* universal css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
}
/* h1 {
    font-size: 5vw;
}
h2 {
    font-size: 3vw;
} */
p {
    font-size: 1.2rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.5rem;
}
a {
    font-size: 1rem;
}
button {
    background-color: #24a7ff;
    border: none;
    padding: 12px 25px;
    color : #fff;
    margin-top: 2vw;
    cursor: pointer;
}
button:hover {
    background-color: #fff;
    color: #24a7ff;
}
/* header area css */
header {
    background-color: #5C21B1;
}
/* nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-area img {
    width: 8vw;
}
.menu-area li {
    list-style-type: none;
    display: inline-block;
    margin: 2vw 0;
}
.menu-area a {
    text-decoration: none;
    margin: 0 15px;
    color: #fff;
}
.menu-area a:hover {
    color: #24a7ff;
}

/* intro-area css */
.intro-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 5vh 0;
}
.intro-content {
    width: 40%;
}
.intro-img {
    width: 60%;
}
.intro-img img {
    width: 100%;
}
/* system-info-area css */
.system-info-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 0;
}
.info-content {
    width: 40%;
}
.info-content h2 {
    margin: 0;
}
.info-img {
    width: 60%;
}
.info-img img {
    width: 100%;
}
.single-info {
    padding: 2vh 0;
}
.single-info p {
    margin-left: 3vw;
}

.single-info .orange {
    color: orange;
    margin: 0 1vw;
}
.single-info .light-green {
    color: #90ee90;
    margin: 0 1vw;
}
.single-info .dark-green {
    color: #008b8b;
    margin: 0 1vw;
}
/* Features area CSS */
.features-area {
    text-align: center;
    padding: 5vh 0;
}
.features-area h2 {
    padding: 5vh 0;
    margin: 0 auto;
}
.features {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}
.single-features {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: 3vh;
    border-radius: 10px;
}
.feature-icon {
    padding: 2vw;
}
.feature-body {
    padding: 2vw;
}
.active-f-body {
    background: #5C21B1;
    color: #fff;
    border-radius: 10px;
}
.f-icon {
    border: none;
    padding: 2vw;
    border-radius: 50%;
    font-size: 4vw;
}
.icon-0 {
    color: #a52a2abe;
    background-color: rgba(165, 42, 42, 0.185);
}
.icon-1 {
    color: #ffa600b9;
    background-color: rgba(165, 42, 42, 0.07);
}
.icon-2 {
    color: #008000b9;
    background-color: rgba(0, 128, 0, 0.13);
}
.icon-3 {
    color: #800080c2;
    background-color: rgba(128, 0, 128, 0.267);
}

@media (max-width: 850px){
    nav {
        flex-direction: column;
        padding: 2vh 0;
        text-align: center;
    }
    .logo-area img {
        margin-bottom: 3vw;
        width: 15vw;
    }
    nav button {
        display: block;
        text-align: center;
        margin: 3vw auto !important;
    }
    .features {
        grid-template-columns: repeat(2, 50%);
    }
    .system-info-area {
        flex-direction: column;
    }
    .info-img {
        width: 100%;
    }
    .info-content {
        width: 100%;
    }
    .intro-area {
        flex-direction: column-reverse;
        text-align: center
    }
    .intro-content,.intro-img {
        width: 100%;
    }
}
@media (max-width: 500px){
    .features {
        grid-template-columns: repeat(1, 100%);
    }
}